<footer class="site-footer">

    <div class="footer-icons">
        <a href="{{baseurl}}/index.html"> <i class="icon-home3"></i></a>
        <a href="/blog/index.html"> <i class="icon-blog"></i></a>
        <a href="https://github.com/dsshim"> <i class="icon-github"></i></a>
        <a href="mailto:daveshim@gmail.com"> <i class="icon-mail2"></i></a>
        <a href="https://www.linkedin.com/pub/david-shim/b9/b38/8a"> <i class="icon-linkedin"></i></a>
        <a href="https://twitter.com/dave_shim"> <i class="icon-twitter"></i></a>
    </div>

    <p class="footer-text">{{ site.description }}</p>


</footer>
